.collapse {
    height: 50vh;
    overflow-y: scroll;
    border: 2px solid var(--accent-color);
    margin: 1rem;
    background-color: var(--primary-color-lightest);
    color: var(--font-color-high-opacity-on-primary-lighter)
}